$lg: '1435px';
$md1: '1060px';
$md2: '914px';
$sm: '625px';

$header_height: 120px;
$header_bg: transparent;
$header_link_color: #fff;
$header_show_menu_icon_break_point: 914px;
$header_menu_icon_bg_color: #fff;

$light-color: #fff;
$dark-color: #000;

$wf: #fff;
$dark-font: rgba(255, 255, 255, .4);

@mixin title($fz) {
    color: $wf;
    line-height: 140%;
    font-family: Roboto;
    font-weight: bold;
    font-size: $fz;
}