// ============================== FONTS ============================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
// ============================== FONTS ============================

// ============================ COMPONENTS =========================
@import "_variables.scss";
@import "header.scss";
@import "main.scss";
@import "main-content.scss";
@import "footer.scss";
// ============================ COMPONENTS =========================

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #000;

    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    background: url('../../assets/images/bgc.jpg');
}

button {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    padding: 10px auto;
    border: none;
    cursor: pointer;
}

// ======== CONTAINER ==========
.container {
    width: 1301px;
    margin: auto;

    @media (max-width: $lg) {
        width: 1000px;
    }

    @media (max-width: $md1) {
        width: 784px;
    }

    @media (max-width: $md2) {
        width: 536px;
    }

    @media (max-width: $sm) {
        width: 93%;
    }
}

h1 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: bold;
    line-height: 140%;
    color: $wf;

    @media (max-width: $md2) {
        font-size: 48px;
    }

    @media (max-width: $sm) {
        font-size: 36px;
    }
}

h2 {
    line-height: 140%;
    font-size: 48px;
    font-weight: bold;
    color: $wf;
}

// ======== CONTAINER ==========

// ======== IBG IMAGE ADAPTATION ========
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

// ======== IBG IMAGE ADAPTATION ========

// ================ COL =================
.col-12 {
    // padding: 10px;
    width: 100%;
}

.col-8 {
    // padding: 10px;
    width: 75%;
}

.col-6 {
    // padding: 10px;
    width: 50%;
}

.col-4 {
    width: 33.333%;
}

.col-3 {
    width: 25%;
}

// ================ COL =================