@import './sections/what-do.scss';
@import './sections/quick-start.scss';
@import './sections/get-prof.scss';
@import './sections/brands.scss';

.main__content {
    position: relative;
    width: 100vw;
    height: max-content;


    section {
        margin: 100px auto;
    }
}