@import './sections/what-do.scss';
@import './sections/quick-start.scss';
@import './sections/get-prof.scss';
@import './sections/brands.scss';
@import './sections/learning-programm.scss';
@import './sections/teachers.scss';

.main__content {
    position: relative;
    width: 100vw;
    height: max-content;


    section {
        margin: 100px auto;
    }
}

.title_row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: $md2) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;

        & * {
            width: 100%;
            padding: 0 !important;
        }
    }

    img {
        width: 127px;
        height: 127px;
        padding-right: 20px;
        box-sizing: content-box;
    }

    h2 {
        font-size: 48px;
        font-weight: bold;
        line-height: 140%;
        margin: 0;
    }
}