main {
    position: relative;
    width: 100vw;
    max-height: 100vh;

    overflow-x: hidden;
    overflow-y: scroll;

    .main__screen {
        position: relative;
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;

        .main__fullscreen-image {
            position: absolute !important;
            // background: url('../../assets/images/main-screen__bgc.jpg') no-repeat center center;
            // background-size: cover;
            height: 100%;
            width: 100%;
            z-index: 0;
        }

        .screen {
            position: relative;
            width: inherit;
            height: inherit;
            z-index: 10;

            display: flex;
            justify-content: center;


            .introducing {
                position: absolute;
                top: 170px;

                @media (max-width: $sm) {
                    top: 140px;
                }

                &__title {
                    // font-family: Roboto;
                    // font-size: 64px;
                    // font-weight: bold;

                    // @media (max-width: $md2) {
                    //     font-size: 48px;
                    // }

                    // @media (max-width: $sm) {
                    //     font-size: 36px;
                    // }
                }

                &__time {
                    display: flex;

                    .introducing__time-square {

                        width: 102px;
                        height: 112px;
                        background: #121212;
                        margin-right: 30px;

                        @media (max-width: $sm) {
                            width: 76px;
                            height: 84px;
                        }

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .number {
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 140%;

                            @media (max-width: $sm) {
                                font-size: 24px;
                            }
                        }

                        .number-name {
                            color: $dark-font;
                        }
                    }
                }
            }

            .last-line {
                position: absolute;
                bottom: 0;
                width: 100vw;
                min-height: 130px;

                @media (max-width: $sm) {
                    bottom: -180px;
                    padding-bottom: -180px;
                }

                background: #121212;

                display: flex;
                align-items: center;

                line-height: 150%;
                color: $dark-font;

                &__container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width: $sm) {
                        padding-top: 10px;
                        flex-direction: column;

                        &>* {
                            width: 100%;
                            margin: 15px auto !important;
                        }
                    }

                    .last-line__button {
                        width: 169px;
                        height: 44px;
                        border-radius: 50px;
                        color: white;
                        font-weight: bold;
                        line-height: 150%;

                        transition: all .1s ease-in-out;
                        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);


                        &:hover {
                            background: linear-gradient(85deg, #DF5950 8%, #451046 80%);
                        }
                    }

                    .people {
                        width: 251px;
                        height: 58px;

                        @media (max-width: $md2) {
                            display: none;
                        }

                        @media (max-width: $sm) {
                            display: block;
                        }

                        &__line {
                            display: flex;
                            justify-content: space-between;

                            &:first-child {
                                margin-bottom: 10px;
                            }

                            &__title {}

                            &__number {
                                color: white;
                                font-weight: bold;
                            }
                        }
                    }

                    .money {
                        width: 714px;

                        @media (max-width: $lg) {
                            width: 400px;
                        }

                        @media (max-width: $md1) {
                            width: 290px;
                        }

                        &__line {
                            .line_title {}

                            .line_number {
                                color: $wf;
                                font-weight: bold;
                                margin-left: 30px;
                            }
                        }

                        &__bar {
                            position: relative;
                            width: 100%;
                            margin: 10px 0 5px;

                            .bar {
                                width: 100%;
                                height: 6px;
                                background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background: white;
                                    width: 60%;
                                    height: 6px;
                                    z-index: 2;
                                }
                            }
                        }

                        .progress {
                            display: flex;
                            justify-content: space-between;

                            .start {}

                            .end {}
                        }
                    }
                }
            }
        }
    }

    .main__content {}
}